body {
  background-image: url(../images/dot.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#search-box {
  margin: 20px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  text-align: center;
}

.name {
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}
.info {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1000px;
  margin: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flag {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 30px;

  &__list {
    width: 150px;
    height: 100px;
  }

  &__prom {
    margin: 20px;
  }
}
.info-text {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 30px;
}

.countriesList {
  list-style: none;
  font-size: 30px;
}

.countriesList li {
  margin-bottom: 10px;
}
